header {
  background-color: black;
  padding: 18px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; }
  header h1 {
    color: #3472e6;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font: weight 100px; }
    header h1 span {
      color: cadetblue; }

nav ul {
  list-style: none;
  display: flex;
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic; }
  nav ul li {
    margin: 5px 10px 5px 10px; }
    nav ul li a {
      text-decoration: none;
      color: white; }
