@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

/*!--------------------RESET----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*!--------------------HEADER----------------*/
header {
    background-color: black;
    padding: 18px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}

header nav ul {
    list-style: none;
    display: flex;
}


header nav ul li {
    margin: 5px 10px 5px 10px;
}

header nav ul {
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;


}

header nav ul li a {
    text-decoration: none;
    color: white;
    transition: 1s;

}

header nav ul li a:hover {
    color: rgb(52, 114, 230);
}


h1 {
    color: rgb(52, 114, 230);
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font: weight 100px;
    ;
}

header h1 span {
    color: cadetblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*!--------------------MAIN----------------*/
main {
    font-family: 'Gabarito', cursive;
}

.fundada {
    color: bisque;
    width: 100%;
    height: 750px;
    background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.507)), url("../img/fondo1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.fundada h2 {
    font-size: 60px;
    border: 5px solid white;
    padding: 11px;
}

.fundada p {
    font-size: 25px;
    margin: 10px;
}

.fundada a {
    text-decoration: none;
    color: white;
    background-color: cadetblue;
    font-size: 23px;
    padding: 10px;
    margin-top: 20px;
    transition: 1s;
}

.fundada a:hover {
    transform: scale(1.1);
}


.fundada a:hover {
    background-color: rgb(52, 114, 230)
}



.whatsup {
    position: fixed;
    bottom: 130px;
    right: 50px;
}


.productos h2 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.productos .productos-contenedor div {
    border: 2px solid black;
    width: 252px;
    height: 350px;
    margin: 20px;
    text-align: center;

}

.productos div h3 {
    margin-bottom: 50px;
}

.productos div a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
}



.productos div img {
    width: 250px;
    height: 200px;
}

.productos-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.seccioncarrusel {
    margin-bottom: 30px;
    
}

.seccioncarrusel {
    height: 65vh;
}

.slide {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.img-carrusel {
    height: 100%;
    object-fit: cover;
}

.grid-galeria {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 15px;
    transition: 1s;
    background: black
}



.grid-galeria div {
    position: relative;
}

.grid-galeria div h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(46, 37, 37, 0.63);
    color: white;
    width: 100%;
    padding: 10;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-4 {
    grid-column: span 2;
}

.img-12 {
    grid-row: span 2;
}

.whatsup {
    transition: 1s;
}

.whatsup:hover {
    transform: scale(1.1);
}

/*!-------------------CONTACTO.HTML---------------*/

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    
}



.icon {
    padding: 23px;
    background: dodgerblue;
    color: white;
    min-width: 80px;
    text-align: center;
    
}

.input-field {
    width: 100%;
    padding: 10px;
    outline-color:dodgerblue;
}



input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-property: ancho;
    
}


input[type=submit]:hover {
    width: 155px;
    
}


/*!-------------------NOSOTROS.HTML---------------*/
.animate__animated {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 10px;
    background-color: rgba(11, 7, 252, 0.74);
    text-align: center;

}





/*!-------------------SERVICIOS ADICIONALES.HTML---------------*/

.servicios {

    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;

}

.bodyfooter {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*!-------------------PREGUNTAS FRECUENTES.HTML---------------*/

.container {
    padding-bottom: 60px;
    font-size: 50px;
}

.accordion-body {
    font-size: 15px;
}


/*!--------------------FOOTER----------------*/
footer {
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;


}

.footerbody {
    margin-top: auto;
}


footer h2 {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer h2 span {
    color: cadetblue;

}

footer div a img {
    transition: 1s;
}

footer div a img:hover {
    transform: scale(1.1);
}


/*!--------------------MEDIA QUERY----------------*/
@media screen and (max-width:1581px) {
    header {
        flex-direction: column;
    }

}

@media screen and (max-width:1100px) {
    h1 {
        font-size: 40px;
    }

}

@media screen and (max-width:939px) {
    .fundada h2 {
        font-size: 33px;
        border: 5px solid white;
        padding: 11px;
    }

}

@media screen and (max-width:934px) {
    .fundada p {
        font-size: 17px;
    }

}

@media screen and (max-width:885px) {
    footer h2 {
        font-size: 32px;
    }
}

@media screen and (max-width:877px) {
    .productos-contenedor {
        flex-wrap: wrap;

    }


}

@media (max-width: 767px) {
    .pepito {
        font-size: 38px;
    }
}

@media screen and (max-width:689px) {
    h1 {
        font-size: 25px;
    }

    nav ul {
        font-size: 16px;
    }

    .fundada h2 {
        font-size: 25px;
    }

    .fundada a {
        font-size: 17px;
    }

    footer h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:673px) {
    header nav ul li {
        margin: 3px 6px 3px 6px;
        font-size: 15px;
    }

    .whatsup {
        display: none;
    }
}

@media screen and (max-width:587px) {
    header nav ul li {
        font-size: 10px;
    }
}

@media screen and (max-width:481px) {
    .fundada h2 {
        font-size: 16px;
    }

    .fundada p {
        font-size: 13px;
    }
}

@media screen and (max-width:459px) {
    footer h2 {
        font-size: 20px;
    }
}

@media screen and (max-width:401px) {
    footer h2 {
        font-size: 15px;
    }
}

@media screen and (max-width:371px) {
    .fundada p {
        font-size: 12px;
    }
}