header{
    background-color: black;
    padding: 18px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    h1{
        color:$color-primario;
        font-size: nth($size, 4);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic ;
        font: weight 100px; ;
        span{
            color: $color-secundario;

        }
    }
}
    nav{
        ul{
            list-style: none;
            display: flex;
            list-style: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
            li{
                margin: 5px 10px 5px 10px;
                a{
                    text-decoration: none;
                    color: white;
                    transition: 1s;

                }
            }

        }
    }